<!DOCTYPE html>
	<html lang="fr">

		<head>
			<meta charset="utf-8">
		</head>

		<form action="traitement_connexion.php" method="post">
			<fieldset>
				<legend><b>Vous êtes déjà inscrit(e) ?</b></legend>
					<table>
						<tr>
							<td>Pseudo :</td>
							<td><input type="text" name="pseudo" size="32" maxlength="20"></td>
						</tr>
				
						<tr>
							<td>Mot de passe :</td>
							<td><input type="password" name="mdp" size="32" maxlength="12"></td>
						</tr>
				
						<tr>
							<td cosplan="2"><input type="submit" name="envoi" value="Se connecter"></td>
						</tr>
					</table>
			</fieldset>
		</form>
	</html>